form {
	margin-top: 10px;
}
 h1 {
	background-color: #32AF1D;;
	text-align: left;
	height: 70px;
	color: white;
	font-size: 35px;
	
} 
label {
	width: 100px; 
	display: block; 
	text-align: right;
	margin-right: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: right;
    clear: both;
    float:left;
    font-size: 14px;
    
}

input {
	width: 300px;
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 14px;
	margin-right: 75px;
}

.save {
	font-weight: bold;
	width: 75px; 
	padding: 5px 10px; 
	margin-top: 30px;
	background: #cccccc;
	font-size: 15px;
	align-self: center;
	margin-left: 200px
}
table {   
	border-style:none;
	width:50%;
	margin-right: 8px;
	margin-left: 15px;
	margin-top: 20px;
}

tr:nth-child(even) {background: #FFFFFF}
tr:nth-child(odd) {background: #cccccc}

tr {
	border-style:none;
	text-align:left;
	height: 20px;	
}

thead {
	background-color: #32AF1D;
	color: white;
	
}
.error {
	color: red;
}

